mat-card {
  padding: 20px;
  text-align: center;
}

mat-card-actions {
  display: block;
}

.action-buttons {
  width: 100%;
  text-align: center;
}

img {
  text-align: center;
  margin: auto;
  width: 100px;
  border-radius: 50%;
}

button {
  margin: 5px;
}
